/*================LOGIN DESIGN====================*/

.asterisk {
  color: red;
  text-align: inherit;
}

.login-input {
  text-align: left;
  width: -webkit-fill-available;
  border-radius: 5px !important;
  padding: 10px;
  font-size: medium;
  border: 1px solid #808080;
  background-color: #f0f0f0;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  margin: 35px;
}

.login-label {
  text-align: left;
  margin-bottom: 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #fff;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: 25em;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid #8b949e;
}

.container-server {
  margin-top: 2em;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: auto;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.container-login-btn {
  top: 4em;
  text-align: center;
  margin-left: auto;
  position: relative;
  margin-right: auto;
}

.login-btn {
  font-weight: 900;
  width: 90%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  margin-bottom: 40px;
}
